.introduction-title {
    animation: fadein 1s;
    font-size: 50px;
    color: #193f98;
    margin: 25px 0px 25px 0px;
}

.introduction-subtitle {
    animation: fadein 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
    font-size: 25px;
    color: #193f98;
    margin: 25px 0px 25px 0px;
}
