#header {
	position: absolute;
	bottom: 0px;
	padding: 75px;
	color: #ffffff;
	font-size: 100px;
	margin: 0px;
	display: flex;
	flex-direction: column
}

#header span {
	font-size: 20px;
	margin-left: 5px;
}

@media only screen and (max-width: 599px) {
	#header {
		padding: 25px;
		font-size: 35px;
	}


	#header span {
		font-size: 15px;
		margin-left: 2.5px;
	}
}