.personal-information {
    height: 100vh;
}

.personal-information-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.personal-information-list-item {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.personal-information-list-item-icon {
    margin-right: 15px;
}