.event {
    list-style: none;
    position: relative;
}

.event-list-item {
    margin-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.event-list-item-icon {
    position: absolute;
    width: 1px;
    left: 0px;
    top: 25%;
    background-color: lightgrey;
    height: 100%;
    z-index: 1;
}

.event-list-item-icon::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    margin-left: -5px;
}

.event:last-child .event-list-item-icon{
    height: 0px
}

.event .bright {
    color: grey
}

.event .brighter {
    color: lightgrey
}

.event .children {
    margin-top: 10px
}