@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(25%);
  }
  to { opacity: 1 }
}

body {
  font-family: 'Quicksand', sans-serif;
}

#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}

button {
  padding: 0.93em 1.87em;
  border : 2px solid white;
  background: transparent;
  display: block;
  color: #fff;
  margin-left: auto;
  cursor: pointer;
  font-size: 0.85em;
  transition: .3s;
  outline: none;
}

button:disabled {
  opacity: .3;
  cursor: default;
}

button:active {
  transform: scale(0.95);
}

textarea {
  background: transparent;
  outline : none;
  border : 2px solid white;
  padding: 10px !important;
  box-sizing: border-box;
  resize: none;
  color: white;
}

.card {
  background: #fff;
  border-radius: 2px;
  padding: 15px;
  height: 300px;
  margin: 1rem;
  position: relative;
  min-width: 350px;
  max-width: 350px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(.98);
  transition: .3s;
}

.card:hover {
  transform: scale(1);
}

.reverse {
  transform: rotate(135deg) !important;
  top: 35px !important;
}

.arrow {
  color: #fff;
  position : absolute; 
  bottom : 0px;
  width : 100%; 
  left : 0px; 
  height : 70px;
  z-index: 999;
}
.arrow span {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}



.left-arrow {
  color: gray;
  position: absolute;
  left: 0px;
  height: 70px;
  z-index: 999;
  width: 70px;
  transform: rotate(90deg);
  cursor: pointer;
}
.left-arrow span {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid gray;
  border-bottom: 3px solid gray;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}


.right-arrow {
  color: gray;
  position: absolute;
  right : 0px;
  height: 70px;
  z-index: 999;
  width: 70px;
  transform: rotate(-90deg);
  cursor: pointer;
}
.right-arrow span {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid gray;
  border-bottom: 3px solid gray;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.w-full {
  width: 100% !important;
}

.h-full {
  height: 100% !important;
}


.w-0-5 {
  width: 50% !important;
}

.h-0-5 {
  height: 50% !important;
}

.flex {
  display: flex !important;
}

.justify-center {
  justify-content: center !important;
}

.align-center {
  align-items: center !important;
}

.text-align-start {
  text-align: start;
}

.m-auto {
  margin: auto !important;
}

.h1 {
  font-size: 70px !important;
  font-weight: bolder !important;
}

.h2 {
  font-size: 60px !important;
  font-weight: bolder !important;
}

.h3 {
  font-size: 50px !important;
  font-weight: bold !important;
}

.h4 {
  font-size: 40px !important;
  font-weight: bold !important;
}

.h5 {
  font-size: 30px !important;
  font-weight: bold !important;
}

.h6 {
  font-size: 20px !important;
  font-weight: bold !important;
}

.fade-in {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}


.fade-in-delay-0-5 {
  animation-delay: .5s;
}

.fade-in-delay-0-75 {
  animation-delay: .75s;
}

.fade-in-delay-1 {
  animation-delay: 1s;
}

.fade-in-delay-1-5 {
  animation-delay: 1.5s;
}

.fade-in-delay-2 {
  animation-delay: 2s;
}

.fade-in-delay-2-5 {
  animation-delay: 2.5s;
}

.fade-in-delay-3 {
  animation-delay: 3s;
}

.fade-in-delay-3-5 {
  animation-delay: 3.5s;
}

.fade-in-delay-4 {
  animation-delay: 4s;
}

.white {
  color: white !important;
}




.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}


.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}



.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}

.font-size-10 {
  font-size: 10px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-30 {
  font-size: 30px !important;
}


.introduction{
  background: linear-gradient(90deg, rgba(81,190,179,1) 35%, rgba(0,110,133,1) 100%);
}


.profile-picture {
  margin : auto;
  position:relative;
 
  overflow:hidden;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}


.profile-picture img {
  position:absolute;
 
  height: auto;
  width: auto;    
  max-width:100%;
  left : 0;

}

.centered img {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}














.whoami {
  background: linear-gradient(90deg, rgba(0,66,126,1) 0%, rgba(54,0,134,1) 100%);
}



.personalinformations {
  background: linear-gradient(90deg, rgba(205,118,60,1) 0%, rgba(255,149,0,1) 100%);

}


.experiences {
  background: linear-gradient(90deg, rgba(0,111,230,1) 0%, rgba(0,65,134,1) 100%);
}

.titleexperiences {
  color : white;
  font-family: 'Quicksand', sans-serif;
  margin : auto;
  animation-delay: .5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  font-size: 75px;
}

.left span.vertical-timeline-element-date{
  text-align: start !important;
}




.technicalskills {
  background: linear-gradient(90deg, rgba(210,0,103,1) 0%, rgba(134,0,79,1) 100%);
}



.activities {
  background: linear-gradient(90deg, rgba(195,215,238,1) 0%, rgba(148,187,233,1) 100%);
}






.projects {
  background: linear-gradient(90deg, rgba(89,89,89,1) 0%, rgba(32,32,32,1) 100%);
}




.contactme {
  background: linear-gradient(90deg, rgba(255,210,249,1) 0%, rgba(185,144,187,1) 100%);
}