@font-face {
    font-family: Arial;
    src: url('assets/woff/ARIAL.woff');
}

@font-face {
    font-family: Arial-Bold;
    src: url('assets/woff/ARIALBD.woff');
}


@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

html, body, #app {
    width: 100%;
    font-family: Arial;
    margin: 0px;
    display: flex;
    /* flex-direction: column; */
    scroll-behavior: smooth;
}

.article {
    padding: 75px;
	display: flex;
	align-items: center;
}

.title {
    font-size: 50px
}

.container {
    width: 50%;
}

.full-container {
    width: 100%;
}

@media only screen and (max-width: 599px) {
    html, body, #app {
        font-size: 12px;
    }

    .article {
        padding: 25px;
    }

    .title {
        font-size: 25px
    }

    .container {
        width: 100%;
    }
}