.nav {
    height: 75px;
    background: white;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10
}

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 75px;
    padding-right: 75px;
}

.nav-list-item {
    margin-left: 25px
}

.nav-list-item-link {
    text-decoration: none;
    color: grey
}

.nav-list-item-link:hover {
    color: black
}