.nav {
    background-color: #193f98;
}

.collapsed {
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    transition: .3s
}

.header {
    z-index: 10;
    position: absolute;
    padding: 50px;
    right: 0px;
    top: 0px
}

.nav-list {
    animation: fadein 1s;
    animation-fill-mode: both;
    list-style: none;
    padding: 25px;
}

.nav-list li {
    margin: 10px 0px 10px 0px;
}

.nav-list a {
    opacity: .5;
    color: white;
    text-decoration: none;
    transition: .2s;
    font-size: larger;
}

.nav-list a.active {
    opacity: 1;
}

.nav-list a:hover {
    opacity: 1;
}