.nav {
    background: white;
    top: 0px;
    z-index: 10;
    border: 1px solid lightgrey;
    width: 200px;
}

.nav-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    padding: 25px;
}

.nav-list-item {
    margin-bottom: 10px;
}

.nav-list-item-link {
    text-decoration: none;
    color: grey
}

.nav-list-item-link:hover {
    color: black
}